.jumbotron {
  background-color: #588C7E;
  color:#FFFFFF;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-about {
  background-color: #FFFFFF;
}

.bg-experience {
  background-color: #F6F6F6;
}

.logo {
  font-size: 200px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.no-bullet {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.logo-small {
  color: #588C7E;
  font-size: 16px;
}

.logo {
  color: #588C7E;
  font-size: 200px;
}

.ability {
  min-height: 30px;
  padding: 3px 0px;
  display: inline-block;
  width: 60%;
  float: right;
}

.navbar {
  margin-bottom: 0;
  background-color: #CC0000;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #FFF !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #CC0000 !important;
  background-color: #FFF !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #FFF !important;
}

.profile-container {
  width: 350px;
  height: 350px;
  display: block;
  margin: 0 auto;
}
