html, body {
  height: 100%;
  margin: 0;
  background-color: #009688;
}

#bg {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  background-color: #009688;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #E0F2F1;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.desc {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizeLegibility;
  margin-right: auto;
  margin-left: auto;
  color: #B2DFDB;
}

.fa {
  color: #00695C;
  margin-top: 7px;
}

.fa-linkedin, .fa-envelope {
  color: #009688;
}

.fa-github:hover {
  color: #A7FFEB;
}

.fa-stack:hover .fa-circle {
  color: #A7FFEB;
}

a {
  margin: 11px;
}

strong {
  font-size: 100px;
  font-family: 'Roboto Slab';
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 1024px) {

  .row {
    margin-top: 15px;
  }
  
  .desc {
    font-size: 35px;
  }

}
